/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open-Sans", sans-serif;
  overflow-x: hidden;
}

input[type=text],
textarea {
  font-size: 16px;
}

input[type=text]:focus,
textarea:focus {
  outline: none;
}

/* Utility Classes */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SCSS Variables */
/* General Styling */
html {
  min-height: 80vh;
}

@media screen and (max-width: 40em) {
  html {
    min-height: 99.5vh;
  }
}
body {
  background: hsl(243deg, 100%, 7%);
  color: hsl(243deg, 100%, 7%);
}

.form-page {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  background-color: white;
  padding-top: 3em;
  padding-bottom: 3em;
  border-radius: 1em;
  margin-top: 1.5em;
  min-height: 82vh;
}

@media screen and (min-width: 40em) {
  .form-page {
    min-height: 70vh;
    margin-top: 3em;
  }
}
.form-page--animation-navigation-forwards {
  animation: page-forward-animation cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.form-page--animation-navigation-backwards {
  animation: page-backward-animation cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.form-page--animation-title-page-render {
  animation: title-page-render cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.form-page--animation-output-page-render {
  animation: output-page-render cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.output-page-paragraph-text-animation {
  animation: output-page-paragraph-content-step-load 0.35s forwards;
}

.output-page-paragraph-separator-animation {
  animation: output-page-paragraph-content-step-load 0.175s forwards;
}

@keyframes page-forward-animation {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes page-backward-animation {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-page-render {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes output-page-render {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes output-page-title-load {}
@keyframes output-page-paragraph-content-step-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.form-page--status-active {
  display: flex;
}

.form-page__heading {
  font-size: 1.5em;
}

.form-page__subheading {
  font-size: 1.25em;
  font-weight: 500;
  margin-top: 3em;
}

.form-page__paragraph {
  font-size: 1em;
  margin-top: 1em;
}

.form-page__link:visited {
  color: #0066CC;
}

.api-output-message {
  font-size: 2rem;
  position: absolute;
  top: 25%;
}

.api-output-details {
  position: absolute;
  flex-direction: column;
  row-gap: 1rem;
  top: 60%;
  width: 60%;
}

.api-output-details-text {
  font-size: 1rem;
}

@media screen and (min-width: 40rem) {
  .form-page__heading {
    font-size: 2.5em;
  }
  .form-page__subheading {
    font-size: 2em;
  }
  .form-page__paragraph {
    font-size: 1.5em;
  }
  .api-output-message {
    font-size: 3rem;
  }
  .api-output-details-text {
    font-size: 1.25rem;
  }
  .api-output-details {
    position: absolute;
    top: 55%;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
}
.button-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.form-page_button {
  margin-top: 2em;
  border: none;
  padding: 1em;
  font-weight: 500;
  font-size: 0.75rem;
  cursor: pointer;
  background-color: hsl(260deg, 100%, 72%);
  color: white;
}

@media screen and (min-width: 40em) {
  .form-page_button {
    font-size: 0.9rem;
  }
}
.category-card-container {
  flex-wrap: wrap;
  gap: 0.25em;
  max-width: 500px;
  margin-top: 2em;
}

.category-card,
.people-card {
  background-color: hsl(350deg, 90%, 88%);
  padding: 1em;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.category-card--status-active,
.people-card--status-active {
  background-color: white;
  border: 2px solid pink;
  transition: 200ms;
}

@media (hover: hover) and (pointer: fine) {
  .category-card:hover,
.people-card:hover {
    background-color: white;
    border: 2px solid pink;
    transition: 200ms;
  }
}
.people-card-container {
  max-width: 250px;
  width: 100%;
  margin-top: 2em;
}

.people-card:not(:first-child) {
  margin-top: 0.25em;
}

.api-output-section {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  padding-inline: 1rem;
}

@media screen and (min-width: 40rem) {
  .api-output-section {
    top: 35%;
  }
}
.api-output-section__heading {
  text-align: center;
}

.api-output-section__paragraph {
  margin-top: 1em;
}
.api-output-section__paragraph p {
  white-space: nowrap;
}

.api-output-section__paragraph > p {
  display: inline;
}

.api-output-section__text-separator {
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: scale(0.25);
  border-radius: 100%;
  background-color: hsl(243deg, 100%, 7%);
  opacity: 0.7;
}

.sequential-appear-container__item {
  opacity: 0;
}

.range-selector {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  width: 90%;
  margin-top: 3em;
  margin-bottom: 6em;
}
.range-selector .slider {
  position: relative;
  width: 100%;
}
.range-selector .slider input[type=range] {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  background: none;
  pointer-events: none;
  /* Removes the standard look of the range selector*/
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 2;
}
.range-selector .slider input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  height: 1.4em;
  width: 1.4em;
  border: none;
  pointer-events: auto;
  cursor: pointer;
  border-radius: 50%;
  background-color: #F0F0F0;
}
.range-selector .slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.4em;
  width: 1.4em;
  border: none;
  pointer-events: auto;
  cursor: pointer;
  background-color: #F0F0F0;
  border-radius: 50%;
}
@media screen and (min-width: 40em) {
  .range-selector .slider input[type=range]::-moz-range-thumb {
    height: 1.2em;
    width: 1.2em;
  }
  .range-selector .slider input[type=range]::-webkit-slider-thumb {
    height: 1.2em;
    width: 1.2em;
  }
}
.range-selector .slider .slider__background-range-box,
.range-selector .slider .slider__range_visualizer {
  height: 0.25em;
  border-radius: 0.25em;
}
.range-selector .slider .slider__background-range-box {
  width: 100%;
  position: relative;
  transform: translateY(-50%);
  background-color: grey;
}
.range-selector .slider .slider__range_visualizer {
  position: absolute;
  left: 20%;
  right: 20%;
  background-color: pink;
}
.range-selector .range-selector__supporting-text {
  margin-top: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.range-selector::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 15em;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=style.css.map */
